# EmailJS – https://www.emailjs.com/
# 1. Sign up at emailjs.com, create an Email Service and a Template.
# 2. In the template, use: {{from_name}}, {{reply_to}}, {{phone}}, {{message}}
# 3. Copy the values below from your EmailJS dashboard.

NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id
